<h1>Xa tes a túa conta</h1>

<p>Enviamosche un e-mail para que verifiques que es a persoa propietaria do enderezo e que queres crear unha conta na nosa aplicación.</p>

<%= link_to 'Regresar ó inicio', root_path %>